h1
{
    color: blue;
    font-size: 20px;
}
.agal
{
    color:red;
}
#footer
{
background-color:greenyellow;
height: 200px;
width: 400px;
}
h2
{
    color: blueviolet;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
h3{
    color: pink;
}
h1{
    color: hsl(321, 100%, 50%);
}

body{
    background-image: url("pictures/image 1.jpeg");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size:100px;
}
.head{
    border-style: dashed;
    border-color: red;
    border-width: 2px 1px 2px 1px;
    border-radius: 50px;
}
#header{
    background-color: orchid;
    color: blue;
    border: 2px solid black;
    margin:20px 300px;
    padding: 20px 50px;

}
h4{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px rgb(161, 9, 105);
    }
h5{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: blue;
}
p{
    color: rgba(41, 6, 118, 0.726);
    text-transform: capitalize;
    text-indent: 60px;
    line-height: 30px;
    }
p1{
    font-family: Arial, Helvetica, serif;
    font-size: 20px;
    font-style: italic;
}
   
.bxl-whatsapp{
    color: white;
    background-color:green;
    font-size: 40px;
    padding:5px;
}
.bxl-instagram{
    color: white;
    background-color:orangered;
    font-size: 40px;
    padding:5px;
}
.bx-music{
    color: white;
    background-color:rgb(117, 2, 83);
    font-size: 40px;
    padding:5px;
}
.button1{
    color:white;
    background-color: blue;
    padding: 15px 20px;
    text-decoration-line: none;
}
.button1:hover{
    color:black;
    background-color: rgb(149, 11, 13);
}
.button2{
    border: 3px solid greenyellow;
    padding: 15px 20px;
    text-decoration-line: none;
    border-radius: 25px;
}
.button2:hover{
    color:blue;
    background-color: orchid;
}
.button3{
    border: 2px solid red;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 25px;
}
.button3:hover{
    color: aqua;
    background-color: darkorange;
}
ul{
    list-style: none;
    background-color:hotpink ;
    padding: 30px 20px;
    width: 150px;
    font-size: 25px;
}
ul li{
    background-color: red;
    margin: 10px;
    padding: 10px;
}
ul li:hover{
    color:yellow;
    background-color: green;
    text-decoration: line;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table{
    width: 500px;
    height: auto;
    text-align: center;
}
td{
    height: 30px;
    vertical-align: middle;
}
tr:nth-child(even){
    background-color: rgb(234, 255, 0);
}
tr:hover{
    background-color: lawngreen;

}
#block1{
    background-color: darkgoldenrod;
    width: 48%;
    height: 200px;
    float: right;
    margin-right: 2%;
}
#block2{
    background-color: rgb(121, 13, 45);
    width: 48%;
    height: 200px;
    float: left;
    margin-right: 2%;
}
#block3{
    width: 100%;
    height: 100%;
    background-color:#1f920d8b;
    clear: both;
}
div p{
    color: green;
}
div>p{
    color: aqua;
}
div+p{
    color: darkorange;
}
div~p{
    color: hsl(321, 100%, 50%);
}
img:hover{
    opacity: 0.4;
}
#sec1{
    height: 200px;
    width: 200px;
    background-color: deeppink;
}
#sec1:hover{
    opacity: 0.5;
}
#title{
    background-color: blue;
    text-align: center;
    height: 70px;
    width: 100%;
    font-size: 30px;
    overflow: hidden;
    }
    #banner{
        background-color: rgb(255, 0, 157);
        text-align: center;
        height: 100px;
        width: 100%;
        font-size: 30px;
        overflow: hidden;
        }
        #intro{
            background-color: rgb(0, 255, 26);
            text-align: center;
            height: 70px;
            width: 100%;
            font-size: 30px;
            overflow: hidden;
            }
            #box1{
                background-color: red;
                height: 200px;
                width: 32%;
                font-size: 100px;
                float: left;
                text-align: center;
                margin-right: 2%;
            }
            #box2{
                background-color: rgb(255, 247, 0);
                height: 200px;
                width: 32%;
                font-size: 100px;
                float: left;
                text-align: center;
                margin-right: 2%;
            }
            #box3{
                background-color: rgb(0, 140, 255);
                height: 200px;
                width: 32%;
                font-size: 100px;
                float: right;
                text-align: center;
            }
            #last{
                background-color: rgb(111, 130, 0);
                height: 100px;
                width: 100%;
                font-size: 50px;
                clear: both;
                text-align: center;
            }
            .para{
                outline: 1px;
                outline-offset: 1px;
                outline-color: blue;
            }
        
        
        
    


